<div ng-controller="HadoopCtrl as hadoopCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Hadoop</span></h1>
	</div>

	<div class="b-workspace__content" ng-show = "hadoopCtrl.welcome">
		<div class="b-workspace-content b-workspace-content_border">
			<div class="b-workspace-content__row" style = "text-align: center">
				<h1 style = "color: #04346E">Welcome to Hadoop Plugin</h1>
				<p style = "color: #04346E">
					This plugin was developed by Subutai Social team for configuring Hadoop clusters on environments created by Subutai Social Console.
				</p>
				<button type="submit" class="b-btn b-btn_green" ng-click = "hadoopCtrl.welcome = false" ng-show = "hadoopCtrl.environments === null || hadoopCtrl.environments.length !== 0">Start</button>
				<h4 style = "color: #c30000" ng-show = "hadoopCtrl.environments !== null && hadoopCtrl.environments.length === 0">Please create environment on Hadoop template first</h4>
			</div>
		</div>
	</div>

	<div class="b-workspace__content" ng-show = "!hadoopCtrl.welcome">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item" 
				ng-click="hadoopCtrl.activeTab = 'install'" 
				ng-class="hadoopCtrl.activeTab == 'install' ? 'b-tabs-menu__item_active' : ''">
					Install
				</li>
				<li class="b-tabs-menu__item" 
				ng-click="hadoopCtrl.activeTab = 'manage'" 
				ng-class="hadoopCtrl.activeTab == 'manage' ? 'b-tabs-menu__item_active' : ''">
					Manage
				</li>
				<li class="b-tabs-menu__item"
					ng-click="hadoopCtrl.activeTab = 'about'"
					ng-class="hadoopCtrl.activeTab == 'about' ? 'b-tabs-menu__item_active' : ''">
					About
				</li>
			</ul>
		</div>

		<div 
			ng-if="hadoopCtrl.activeTab == 'install'" 
			ng-include="'plugins/hadoop/partials/install.html'">
		</div>

		<div 
			ng-if="hadoopCtrl.activeTab == 'manage'" 
			ng-include="'plugins/hadoop/partials/manage.html'">
		</div>

		<div
			ng-if="hadoopCtrl.activeTab == 'about'"
			ng-include="'plugins/hadoop/partials/about.html'">
		</div>
	</div>

</div>
