<div ng-controller="CassandraCtrl as cassandraCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Cassandra</span></h1>
	</div>

	<div class="b-workspace__content" ng-show = "cassandraCtrl.welcome">
		<div class="b-workspace-content b-workspace-content_border">
			<div class="b-workspace-content__row" style = "text-align: center">
				<h1 style = "color: #04346E">Welcome to Cassandra Plugin</h1>
				<p style = "color: #04346E">
					This plugin was developed by Subutai Social team for configuring Cassandra clusters on environments created by Subutai Social Console.
				</p>
				<button type="submit" class="b-btn b-btn_green" ng-click = "cassandraCtrl.welcome = false" ng-show = "cassandraCtrl.environments === null || cassandraCtrl.environments.length !== 0">Start</button>
				<h4 style = "color: #c30000" ng-show = "cassandraCtrl.environments !== null && cassandraCtrl.environments.length === 0">Please create environment on Cassandra template first</h4>
			</div>
		</div>
	</div>


	<div class="b-workspace__content" ng-show = "!cassandraCtrl.welcome">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item" 
				ng-click="cassandraCtrl.activeTab = 'install'" 
				ng-class="cassandraCtrl.activeTab == 'install' ? 'b-tabs-menu__item_active' : ''">
					Install
				</li>
				<li class="b-tabs-menu__item" 
				ng-click="cassandraCtrl.activeTab = 'manage'" 
				ng-class="cassandraCtrl.activeTab == 'manage' ? 'b-tabs-menu__item_active' : ''">
					Manage
				</li>
				<li class="b-tabs-menu__item"
					ng-click="cassandraCtrl.activeTab = 'about'"
					ng-class="cassandraCtrl.activeTab == 'about' ? 'b-tabs-menu__item_active' : ''">
					About
				</li>
			</ul>
		</div>
		<div 
			ng-if="cassandraCtrl.activeTab == 'install'"
			ng-include="'plugins/cassandra/partials/install.html'">
		</div>

		<div 
			ng-if="cassandraCtrl.activeTab == 'manage'" 
			ng-include="'plugins/cassandra/partials/manage.html'">
		</div>

		<div
			ng-if="cassandraCtrl.activeTab == 'about'"
			ng-include="'plugins/cassandra/partials/about.html'">
		</div>

	</div>

</div>
