<div ng-controller="ZookeeperCtrl as zookeeperCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Zookeeper</span></h1>
	</div>

	<div class="b-workspace__content" ng-if = "zookeeperCtrl.welcome">
		<div class="b-workspace-content b-workspace-content_border">
			<div class="b-workspace-content__row" style = "text-align: center">
				<h1 style = "color: #04346E">Welcome to Zookeeper Plugin</h1>
				<p style = "color: #04346E">
					This plugin was developed by Subutai Social team for configuring Zookeeper clusters on environments created by Subutai Social Console or Hadoop clusters created by Hadoop plugin.
				</p>
				<button type="submit" class="b-btn b-btn_green" ng-click = "zookeeperCtrl.welcome = false" ng-show = "zookeeperCtrl.environments === null || zookeeperCtrl.environments.length !== 0 || zookeeperCtrl.hadoopClusters === null || zookeeperCtrl.hadoopClusters.length !== 0">Start</button>
				<h4 style = "color: #c30000" ng-show = "zookeeperCtrl.environments !== null && zookeeperCtrl.environments.length === 0 && zookeeperCtrl.hadoopClusters !== null && zookeeperCtrl.hadoopClusters.length === 0">Please create Hadoop cluster via Hadoop plugin or environment on Zookeeper template first</h4>
			</div>
		</div>
	</div>


	<div class="b-workspace__content" ng-if = "!zookeeperCtrl.welcome">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item" 
				ng-click="zookeeperCtrl.activeTab = 'install'" 
				ng-class="zookeeperCtrl.activeTab == 'install' ? 'b-tabs-menu__item_active' : ''">
					Install
				</li>
				<li class="b-tabs-menu__item" 
				ng-click="zookeeperCtrl.activeTab = 'manage'" 
				ng-class="zookeeperCtrl.activeTab == 'manage' ? 'b-tabs-menu__item_active' : ''">
					Manage
				</li>
				<li class="b-tabs-menu__item"
					ng-click="zookeeperCtrl.activeTab = 'about'"
					ng-class="zookeeperCtrl.activeTab == 'about' ? 'b-tabs-menu__item_active' : ''">
					About
				</li>
			</ul>
		</div>
		<div 
			ng-if="zookeeperCtrl.activeTab == 'install'" 
			ng-include="'plugins/zookeeper/partials/install.html'">
		</div>

		<div 
			ng-if="zookeeperCtrl.activeTab == 'manage'" 
			ng-include="'plugins/zookeeper/partials/manage.html'">
		</div>

		<div
				ng-if="zookeeperCtrl.activeTab == 'about'"
				ng-include="'plugins/zookeeper/partials/about.html'">
		</div>
	</div>

</div>
